@import '_components/bootstrap-custom.scss';
// @import 'node_modules/bootstrap-daterangepicker/daterangepicker';
// @import 'node_modules/fullcalendar/dist/fullcalendar';
// @import 'node_modules/bootstrap-select/sass/bootstrap-select.scss';
@import '_components/_mixins.scss';
@import '_components/_fonts.scss';
@import '_components/_variables.scss';
@import '_components/_reset.scss';
@import '_components/_typography.scss';
@import '_components/_forms-buttons.scss';
@import '_components/_keyframes.scss';
@import '_components/_styles.scss';
@import '_partials/_header.scss';
@import '_partials/_sidebar.scss';
@import '_partials/_metrics-block.scss';
@import '_partials/_pie-block.scss';
@import '_partials/_icon-block.scss';
@import '_partials/_event-block.scss';
// @import 'node_modules/react-big-calendar/lib/sass/styles.scss';
// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';
// @import '_partials/_calendar.scss';

.change_badge_section {
  .col-3 { 
    flex: 0 0 100%;
    max-width: 100%;
    @media (min-width: 768px) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

.dashboard {
  .stats_section {
    display: block;
    > div {
      &:nth-child(1) {
        margin-bottom: 30px;
        @media (min-width: 991px) {
          margin-bottom: 0px;
        }
      }
    }
    @media (min-width: 991px) {
      display: flex;
    }
  }
}

.select-wrapper {
  > div {
    > div {
      padding-left: 36px;
      height: 40px;
      border-color: #b9b9b9;
      border-radius: 0;
      > div {
        padding: 0;
      }
    }
  }
  .css-bgvzuu-indicatorSeparator {
    display: none;
  }
  svg {
    fill: #288be6;
  }
  .css-kj6f9i-menu {
    text-align: left;
    height: auto;
    padding-left: 0px;
  }
}

.form_help_error {
  position: absolute;
  left: 0px;
  bottom: -20px;
  margin-top: 0px;
}

.react-bootstrap-daterangepicker-container {
  display: block !important;
}

.metrics_datepicker_section {
  justify-content: flex-start;
  > .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      flex: 0 0 25%;
      max-width: 25%;
      margin-bottom: 0px;
    }
  }
  > .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      margin-bottom: 0px;
    }
  }
  > .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
    @media (min-width: 768px) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    @media (min-width: 1390px) {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  }
  @media (min-width: 1390px) {
    justify-content: flex-end;
  }
}