.donut {
	height: 170px;
  width: 170px;
	margin-bottom: 20px;
}
.donut__text {
	font-size: 3.125rem;
	color: #288be6;
	top: calc(50% - 10px);
}
.donut__circle {
	stroke: rgb(40, 139, 230);
	stroke-linecap: round;
}
.donut__frame, .donut__circle {
	fill: #fff;
}