.select-wrapper{
  position: relative;
  > i {
    color: $color-curious-blue;
    @include fsz(14px);
    @include center-v();
    left: 14px;
    z-index: 2;
    margin-top: -1px;
    pointer-events: none;
  }
  .dropdown {
    &.show{
      .dropdown-toggle{
        background: $color-white;
        border: 1px solid $color-silver;
      }
    }
  }
  .dropdown-toggle{
    height: 40px;
    font-family: $font-medium;
    border-radius: 0;
    border: 1px solid $color-silver;
    background: $color-white;
    padding: 6px 10px 6px 36px;
    color: $color-silver;
    transition: 200ms;
    &:hover{
      box-shadow: 0 1px 2px rgba($color-black,0.1);
    }
    &:after{
      border-top-color: $color-curious-blue;
      border-bottom-color: $color-curious-blue;
    }
    &:focus{
      outline: none !important;
    }
    &:not(.disabled):active{
      background: $color-white;
      border: 1px solid $color-silver;
    }
  }
  .dropdown-menu{
    margin-top: -2px;
    border: 1px solid $color-silver;
    border-radius: 0;
    .dropdown-item{
      padding: 7px 10px;
      &.active{
        background: $color-curious-blue;
      }
    }
  }
}

.datepicker{
  line-height: 1.5;
  height: 40px;
  font-family: $font-medium;
  border-radius: 0;
  border: 1px solid $color-silver;
  background: $color-white;
  padding: 6px 15px;
  cursor: pointer;
  color: $color-silver;
  position: relative;
  transition: 200ms;
  &:hover{
    box-shadow: 0 1px 2px rgba($color-black,0.1);
  }
  i{
    margin-right: 10px;
    color: $color-curious-blue;
  }
  &:after{
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top-color: $color-curious-blue;
    border-bottom-color: $color-curious-blue;
    @include center-v();
    right: 10px;
  }
  &:focus{
    outline: none !important;
  }
  &:not(.disabled):active{
    background: $color-white;
    border: 1px solid $color-silver;
  }
}
.daterangepicker{
  .ranges li.active{
    background: $color-curious-blue;
  }
  td.active, td.active:hover{
    background: $color-curious-blue;
  }
  .applyBtn{
    background: $color-curious-blue;
  }
}

.btn{
  &.btn-main{
    height: 40px;
    background: $color-puerto-rico;
    border: 1px solid $color-silver;
    border-radius: 0;
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-medium;
    padding-left: 30px;
    padding-right: 30px;
    &:hover{
      background: lighten($color-puerto-rico, 10%);
    }
    i{
      @include fsz(14px);
      margin-right: 6px;
    }
  }
}

.form-control{
  border: 2px solid $color-alto;
  border-radius: 5px;
  @include fsz(18px);
  height: 40px;
  &:focus{
    box-shadow: none;
    outline: none;
    border-color: $color-alto;
  }
  @at-root textarea#{&}{
    height: 100px;
    resize: none;
  }
}

.radio{
  position: relative;
  display: block;
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    ~ span {
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      text-align: left;
      display: block;
      &:before {
        content: '';
        @include center-v();
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: solid 2px $color-alto;
        background: $color-white;
        left: 0;
        transition: 200ms;
      }
      &:after {
        content: '';
        width: 20px;
        height: 12px;
        border-bottom: 5px solid $color-white;
        border-left: 5px solid $color-white;
        position: absolute;
        top: calc(50% - 1px);
        left: 10px;
        transform: scale(0) translateY(-50%) rotate(-45deg);
        transition: 300ms;
      }
    }
    &:checked {
      ~ span {
        &:before {
          background: $color-puerto-rico;
        }
        &:after {
          transform: scale(1) translateY(-65%) rotate(-45deg);
        }
      }
    }
  }
}
