//--- Different devices resolutions
@mixin respond-to($media) {
    @if $media == xs {
      @media only screen and (max-width: 575px) { @content; }
    }
    @else if $media == xs_up {
        @media only screen and (min-width: 576px) { @content; }
    }
    @else if $media == sm {
        @media only screen and (max-width: 767px) { @content; }
    }
    @else if $media == sm_up {
        @media only screen and (min-width: 768px) { @content; }
    }
    @else if $media == md {
        @media only screen and (max-width: 991px) { @content; }
    }
    @else if $media == md_up {
        @media only screen and (min-width: 992px) { @content; }
    }
    @else if $media == lg {
        @media only screen and (max-width: 1199px) { @content; }
    }
    @else if $media == lg_up {
        @media only screen and (min-width: 1200px) { @content; }
    }
    @else if $media == xl {
        @media only screen and (max-width: 1440px) { @content; }
    }
    @else if $media == xl_up {
        @media only screen and (min-width: 1441px) { @content; }
    }
    @else if $media == xxl_up {
        @media only screen and (min-width: 1920px) { @content; }
    }
}

//--- FontSize
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin fsz($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//--- Text Truncate
@mixin truncateText(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//--- Centering anything
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center_v {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

//--- Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//--- Placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}

//--- Angled Edges

@function ae-str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + ae-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/// Encode SVG to use as background.
///
/// @param  {String}  $string
/// @return {String}  Encoded svg data
///
@function ae-svg-encode($string){
  $result: ae-str-replace($string, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
  $result: ae-str-replace($result, '%', '%25');
  $result: ae-str-replace($result, '"', '\'');
  $result: ae-str-replace($result, '<', '%3C');
  $result: ae-str-replace($result, '>', '%3E');

  @return 'data:image/svg+xml,' + $result;
}

/// Outputs pseudo content for main mixin.
///
/// @author Joseph Fusco
///
/// @param  {String}  $location
/// @param  {Number}  $height
/// @output psuedo content
///
@mixin ae-pseudo($wedge, $height, $width) {
  background-image: url($wedge);
  background-position: center center;
  background-repeat: no-repeat;

  // full width wedge - needed as Firefox ignores preserveAspectRatio="none" in this case
  @if ($width == null) {
    background-size: 100% 100%;
  }

  content: '';
  height: $height * 1px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

/// Attatches an svg wedge shape to an element.
///
/// @author Joseph Fusco
///
/// @param  {String}  $location   - 'inside top', 'outside top', 'inside bottom', 'outside bottom'
/// @param  {String}  $hypotenuse - 'upper left', 'upper right', 'lower left', 'lower right'
/// @param  {Color}   $fill
/// @param  {Number}  $height
/// @param  {Number}  $width
/// @output '::before' and/or '::after' with svg background image
///
@mixin angled-edge($location, $hypotenuse, $fill, $height: 100, $width: null) {

  position: relative;

  $points: (
    'upper left': '0,#{$height} #{$width},#{$height} #{$width},0',
    'upper right': '0,#{$height} #{$width},#{$height} 0,0',
    'lower left': '0,0 #{$width},#{$height} #{$width},0',
    'lower right': '0,0 #{$width},0 0,#{$height}'
  );

  // full width wedge
  @if ($width == null) {
    $points: (
      'upper left': '0,#{$height} 100,#{$height} 100,0',
      'upper right': '0,#{$height} 100,#{$height} 0,0',
      'lower left': '0,0 100,#{$height} 100,0',
      'lower right': '0,0 100,0 0,#{$height}'
    );
  }

  // ensure $fill color is using rgb()
  $fill-rgb: 'rgb(' + round(red($fill)) + ',' + round(green($fill)) + ',' + round(blue($fill)) + ')';

  // capture alpha component of $fill to use with fill-opacity
  $fill-alpha: alpha($fill);

  $wedge: '<svg width="#{$width}" height="#{$height}" fill="#{$fill-rgb}" fill-opacity="#{$fill-alpha}"><polygon points="#{map-get($points, $hypotenuse)}"></polygon></svg>';

  // full width wedge
  @if ($width == null) {
    $wedge: '<svg preserveAspectRatio="none" viewBox="0 0 100 #{$height}" fill="#{$fill-rgb}" fill-opacity="#{$fill-alpha}"><polygon points="#{map-get($points, $hypotenuse)}"></polygon></svg>';
  }

  $encoded-wedge: ae-svg-encode($wedge);

  @if ($location == 'inside top') {
    &::before {
      @include ae-pseudo($encoded-wedge, $height, $width);
      top: 0;
    }
  } @else if ($location == 'outside top') {
    &::before {
      @include ae-pseudo($encoded-wedge, $height, $width);
      top: -$height * 1px;
    }
  } @else if ($location == 'inside bottom') {
    &::after {
      @include ae-pseudo($encoded-wedge, $height, $width);
      bottom: 0;
    }
  } @else if ($location == 'outside bottom') {
    &::after {
      @include ae-pseudo($encoded-wedge, $height, $width);
      bottom: -$height * 1px;
    }
  } @else {
    @error 'Invalid argument for $location - must use: `inside top`, `outside top`, `inside bottom`, `outside bottom`';
  }
  @if (map-has-key($points, $hypotenuse) == false) {
    @error 'Invalid argument for $hypotenuse - must use: `upper left`, `upper right`, `lower left`, `lower right`';
  }
}
