/*--- Reset ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input:focus, .btn:focus{
  box-shadow: none !important;
}
* {
  &:hover, &:focus, &:active {
    outline: none !important;
  }
}
a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  // min-width: 1240px;
}
