main{
  display: flex;
  min-height: 100vh;
}
.content{
  flex-grow: 1;
}
.dashboard{
  padding: 30px;
  position: relative;
}
.block{
  background: $color-wild-sand;
  box-shadow: $shadow;
  border-radius: 3px;
  width: 100%;
}

.mb-30{
  margin-bottom: 30px !important;
}
