/*--- Typography ---*/
body{
  font-family: $font-regular;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}
h6, .h6 {
}

a {
  transition: 250ms;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
button, .btn{
  transition: 250ms;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
