//--- Variables
//--- Transition Variables
$transition-quartic: cubic-bezier(.9,.03,.69,.22);
$transition-backward: cubic-bezier(.68,-0.55,.27,1.55);

//--- Color Variables
$color-curious-blue: #288be6;
$color-steel-blue: #4882bd;
$color-cobalt: #0050b9;
$color-prussian-blue: #003359;
$color-puerto-rico: #48bd9f;
$color-sun: #fcb713;
$color-mulberry: #bd487f;

$color-white: #fff;
$color-wild-sand: #f7f7f7;
$color-desert-storm: #e8e8e7;
$color-alto: #d9d8d8;
$color-silver: #b9b9b9;
$color-nepal: #95b2bf;
$color-lynch: #73879c;
$color-black: #000;

$shadow: 0 2px 2px rgba($color-black, 0.22);

//--- Fonts Variables
$font-light: 'DIN-Light';
$font-regular: 'DIN-Regular';
$font-medium: 'DIN-Medium';
$font-bold: 'DIN-Bold';
