.fc{
  h2{
    @include fsz(30px);
    font-family: $font-medium;
  }
  .fc-day-header{
    @include fsz(20px);
    font-family: $font-medium;
    padding: 4px;
  }
  .fc-day-number{
    pointer-events: none;
  }
  .fc-event-container{
    position: relative;
  }
  .fc-event{
    background: none;
    border: none;
    color: $color-black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .fc-category{
    margin-top: auto;
    padding: 3px;
    color: $color-white;
    border-radius: 3px;
    margin-bottom: 3px;
    font-family: $font-medium;
    &.cat-1{
      background: $color-steel-blue;
    }
    &.cat-2{
      background: $color-mulberry;
    }
    &.cat-3{
      background: $color-puerto-rico;
    }
    &.cat-4{
      background: $color-sun;
    }
  }
  .fc-content{
    white-space: normal;
    overflow: hidden;
    background: $color-desert-storm;
    border-radius: 3px;
    padding: 3px;
    flex-grow: 1;
    margin-bottom: 2px;
    line-height: 1.2;
    max-height: calc(100% - 35px);
    position: relative;
    &:after{
      content: '';
      position: absolute;
      height: 35%;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, $color-desert-storm, rgba($color-desert-storm, 0));
    }
  }
  .fc-header-toolbar{
    .fc-left{
      position: absolute;
    }
  }
}
