.event-block {
  bottom: 30px;
  background: $color-white;
  &__dialog{
   max-width: 800px;
   margin: 0 auto;
   padding: 30px 60px;
   position: relative;
  }
}
.close{
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 15px;
  color: $color-prussian-blue;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $color-prussian-blue;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.event-category {
  width: 200px;
}
.event-question {

}
.event-label {
  @include fsz(18px);
  font-family: $font-medium;
  color: $color-prussian-blue;
  margin-bottom: 8px;
}
.event-answers {
  &__item {
    display: flex;
    margin-bottom: 30px;
    @include fsz(18px);
    align-items: center;
    > *{
      &:not(:first-child){
        margin-left: 10px;
      }
    }
  }
}
