.header{
  position: relative;
  text-align: center;
  background: $color-wild-sand;
  box-shadow: $shadow;
  padding: 5px 0;
  &__flex {
    display: flex;
    position: relative;
    align-items: center;
  }
  img{
    width: 120px;
  }
  .mobile_toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    @media (min-width: 991px) {
      display: none;
    }
  }
}
