.icon-block {
  padding: 20px 20px 0;
  > .row {
    .col-2 {
      flex: 0 0 50%;
      max-width: 50%;
      @media (min-width: 440px) {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }
      @media (min-width: 576px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      @media (min-width: 816px) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  @media (min-width: 816px) {
    padding: 20px 60px 0;
  }
}

.icon-item {
  text-align: center;
  @include fsz(20px);
  color: $color-lynch;
  font-family: $font-medium;
  margin-bottom: 20px;
  img{
    width: 100px;
    display: block;
    margin: 0 auto 10px;
  }
}
