.metrics-block {
  padding: 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 0;
    border-bottom: 1px solid rgba($color-curious-blue, 0.3);
    position: relative;
    &:nth-of-type(even){
      &:after{
        right: 10px;
      }
    }
    h4{
      color: $color-lynch;
      font-family: $font-medium;
      margin-bottom: 4px;
      font-size: 12px;
      i{
        @include fsz(14px);
        color: $color-curious-blue;
        margin-right: 5px;
        display: none;
        @media (min-width: 480px) {
          display: inline-block;
        }
      }
      @media (min-width: 480px) {
        font-size: 16px;
      }
    }
    &:after{
      content: '';
      width: 2px;
      height: 70%;
      right: 30px;
      background: $color-nepal;
      @include center-v();
      display: none;
      @media (min-width: 480px) {
        display: block;
      }
    }
  }
  &__value{
    @include fsz(52px);
    font-family: $font-bold;
    color: $color-curious-blue;
    letter-spacing: -1px;
    font-size: 18px;
    @media (min-width: 640px) {
      font-size: 24px;
    }
    @media (min-width: 991px) {
      font-size: 24px;
    }
    @media (min-width: 1260px) {
      font-size: 52px;
    }
  }
}
