.pie-block {
  width: 100%;
  padding: 15px;
  text-align: center;
  .chart{
    margin-bottom: 20px;
    position: relative;
    canvas{
      background: $color-white;
      border-radius: 50%;
    }
    &__info{
      @include center();
      color: $color-lynch;
      span{
        display: block;
        @include fsz(50px);
        margin: 12px 0;
        color: $color-curious-blue;
        &:after{
          content: '%';
        }
      }
    }
  }
  @media (min-width: 991px) {
    width: 360px;
  }
}
