.sidebar {
  display: none;
  background: $color-cobalt;
  color: $color-wild-sand;
  max-width: 280px;
  flex: 0 0 280px;
  padding: 30px 0;
  &__profile {
    margin-bottom: 15px;
    text-align: center;
    img{
      width: 90px;
      margin-bottom: 10px;
    }
    @include fsz(18px);
    font-family: $font-medium;
  }
  &__user {
    &:after {
      display: none;
    }
  }
  &__nav {
    li{
      a{
        i{
          margin-right: 15px;
        }
        display: block;
        @include fsz(18px);
        color: $color-white;
        font-family: $font-medium;
        padding: 14px 50px;
        box-shadow: none !important;
        margin: 0;
        &:hover{
          background: rgba($color-prussian-blue, 0.3);
        }
        &.active {
          background: $color-prussian-blue;
        }
      }
    }
  }
  @media (min-width: 991px) {
    display: block;
  }
  // @media (min-width: 768px) {
  //   max-width: 200px;
  //   flex: 0 0 200px;
  // }
  // @media (min-width: 1124px) {
  //   max-width: 280px;
  //   flex: 0 0 280px;
  // }
}
